<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <title>{{{title}}}</title>
</head>

<body>
    <!-- </header> -->
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="landing-form-text" class="navbar-brand" href="/"> Take My Spot</a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a id="renter-text" class="nav-item nav-link" href="/renter">Renter</a>
                    </li>
                    <li>
                        <a id="owner-form-text" class="nav-item nav-link" href="/owner">Owner Form</a>
                    </li>
                    <li>
                        <a id="about-us-text" class="page-scroll" href="/about">About Us</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a>{{user}}</a>
                    </li>
                    <li>

                        <a id="propertyList-form-text" href="/propertyList">{{account_owner}}</a>
                    </li>
                    <li>
                        <a href="/renterList">{{account_renter}}</a>
                    </li>
                    <li>
                        <a id="logout">{{logout}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    {{{body}}}
    <!-- footer -->
    <footer id="footer" class="navbar-fixed-bottom">
        <div class="footer-copyright">
            <div class="container footer-padding">
                Made by&nbsp;
                <a target="_blank" href="https://github.com/JustinRyanCarlson">Justin Carlson</a>
                <span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
                <a target="_blank" href="https://github.com/poornimasewak">Poornima Sewak</a>
                <span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
                <a target="_blank" href="https://github.com/terencero">Terence Ro</a>
                <span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
                <a target="_blank" href="https://github.com/DePaulCubs77">Maria Garcia</a>
                <span class="pull-right">Copyright &copy; 2017</span>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="javascript/main.js"></script>
    <script src="javascript/theme/bootstrap.min.js"></script>
    <script src="javascript/theme/jquery.easing.min.js"></script>
    <script src="javascript/theme/jquery.min.js"></script>
    <script src="javascript/theme/scripts.js"></script>
    <script src="javascript/theme/wow.js"></script>
    {{{scripts}}}
</body>

</html>
